<h1>E-Commerce</h1>
<h2>Lista de productos!</h2>
<div class="d-flex justify-content-evenly">
    {{#each products}}
    <div class="card" style="width: 15rem">
        <ul>

            <li>
                <h3>{{title}}</h3>
                <p>{{description}}</p>
                <p>{{code}}</p>
                <p>{{stock}}</p>
                <p>{{category}}</p>
                <p>{{status}}</p>
                <img src="{{thumbnail}}" alt="{{title}}" />
                <p>{{price}}</p>
            </li>

        </ul>
    </div>
    {{/each}}
</div>